# Direct client-side upload using AWS Access Keys
EXPO_PUBLIC_AWS_ACCESS_KEY_ID=
EXPO_PUBLIC_AWS_SECRET_ACCESS_KEY=
# Optional (needed if using temporary credentials/IAM Roles)
EXPO_PUBLIC_AWS_SESSION_TOKEN=

# S3 Bucket Configuration
EXPO_PUBLIC_S3_BUCKET=alix-aiml
EXPO_PUBLIC_S3_REGION=us-east-1
